<div class="row">
  <div class="col-md-8">
    <div class="gallery-image">
      <a ng-href="/images/portfolio/{{ item.url }}.jpg">
        <img class="img-responsive" ng-src="/images/portfolio/{{ item.url }}.jpg" alt="">
      </a>
    </div>
    <div class="gallery-image" ng-repeat="i in item.gallery">
      <a ng-href="{{ i }}">
        <img class="img-responsive" ng-src="{{ i }}" alt="">
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="page-header">{{ item.name }}</h3>
    <p>
      Various Papyrus products I have worked on as a Graphic Designer / Product Design Specialist
    </p>
  </div>
</div>
